body {
    background-color:  #E8E8E8 ;
}

h1 {
    color: #585858;
	text-align: center;
}

h2 {
    color: #585858;
	text-align: left;
}

h3 {
    color: #585858;
	text-align: left;
}

h4 {
    color: #585858;
	text-align: left;
}

h5 {
    color: #585858;
	text-align: left;
}


h6 {
    color: #585858;
	text-align: left;
}

p {
    color: #585858;
    text-align: justify
}

em {
    color: #585858;
    
}